<% include ./partials/header %>

<div id="messageDiv" class="ui message" style="display: none;position: fixed;top: 50px;z-index: 10;width: 100%;">
    <i class="close icon" onclick="closeMsg()"></i>
    <div class="ui center aligned header">
          Unauthorized Access !  
    </div>
    <p style="text-align: center;"><a href="/login">Login</a> to continue.</p>
</div>
<div id="messageDiv2" class="ui message" style="display: none;position: fixed;top: 50px;z-index: 10;width: 100%;">
    <i class="close icon" onclick="closeMsg()"></i>
    <div class="ui center aligned header">
            Comment added successfully.  
    </div>
</div>
<div class="" style="margin: 10;background-color: rgba(0, 0, 0, 0.6); min-height: 85%;">
    <div class="">
        <div class="" style="float:right;max-width: 500px; margin: 10px;background-color: white;padding: 0px;overflow: hidden;">
            <img src="<%= blog.image %>" style="width: 100%;" alt="BlogsImage">
            <div class="content">
                <span class="" style="float: right;padding: 5px;">
                    <%= blog.comments.length + " comments"%> 
                </span>
                <% if(!currentUser) { %>
                        <i id='unlikeBtn<%= blog._id %>' onclick="likePost(0, event, '<%= blog._id %>')" style="margin: 5px;padding: 5px; color: red;display: none;" title="UnLike" class="heart icon"></i>
                        <i id='likeBtn<%= blog._id %>' onclick="likePost(1, event, '<%= blog._id %>')" style="margin: 5px;padding: 5px; color: black;" title="Like" class="heart outline icon"></i>
                <% } else if(blog.likes.find(user=> user._id==currentUser.id)) { %>
                        <i id='unlikeBtn<%= blog._id %>' onclick="likePost(0, event, '<%= blog._id %>')" style="margin: 5px;padding: 5px; color: red;" title="UnLike" class="heart icon"></i>
                        <i id='likeBtn<%= blog._id %>' onclick="likePost(1, event, '<%= blog._id %>')" style="margin: 5px;padding: 5px; color: black;display: none;" title="Like" class="heart outline icon"></i>
                <% } else { %>
                        <i id='unlikeBtn<%= blog._id %>' onclick="likePost(0, event, '<%= blog._id %>')" style="margin: 5px;padding: 5px; color: red;display: none;" title="UnLike" class="heart icon"></i>
                        <i id='likeBtn<%= blog._id %>' onclick="likePost(1, event, '<%= blog._id %>')" style="margin: 5px;padding: 5px; color: black;" title="Like" class="heart outline icon"></i>
                <% } %>
                <span id="likeCount<%= blog._id %>" style="font-weight: bolder;margin: auto;"><%= blog.likes.length + " likes"%></span>
            </div>
        </div>
        <div class="content" style="padding: 10px;color: whitesmoke;">
            <h1 class="" style="text-decoration: underline;color: orangered; font-weight: bolder;"><%= blog.title %></h1>
            <div class="meta">
                <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/large/elliot.jpg" style="margin: 5 15 5 7;"> 
                <span class="" style="font-size: 20; "><%= blog.owner.username %></span>
                <br>
                <i class="calendar alternate icon" style="margin: 5 10 5 5; color: cornflowerblue;"></i>
                <span class="" style="font-size: 17;"><%= blog.created.getDate() + "-" + (blog.created.getMonth()+1) + "-" + blog.created.getFullYear() %></span>
                <br>
                <i style="margin: 5 10 5 5; color: red;" class="heart icon"></i>
                <span style="font-size: 17;"><%= blog.likes.length %> Likes</span> 
            </div>
            
            <div class="" style="padding: 10px;margin: 15px;font-size: 18;font-family: 'Courier New', Courier, monospace;color: tomato;font-weight: 900;">
                <p><%= blog.body %></p>
            </div>
            <div class="extra">
                <i class="comment icon" style="color: teal"></i>
                <span class="header" style="font-size: 17;font-weight: bold;">Comments</span> (<%= blog.comments.length + " comments"%>)
                
                <div class="item" style="margin: 10">        
                    <div class="ui fluid action input">
                    <input type="text" placeholder="Add Comment Area..." name="comment" id="commentArea" class="prompt">
                    <button class="ui inverted button" id="commentBtn" onclick="commentPost('<%= currentUser ? currentUser.username:null %>', '<%= blog._id %>')"><i class="telegram plane icon"></i></button>
                </div>
        
        </div>
            
            <div class="" id="commentBox" style="max-height: 100px;overflow-y: scroll;">
                <% blog.comments.forEach(function(comment){ %>
                        <div class="" style="padding: 5px;">
                            <span><img class="ui avatar image" src="https://semantic-ui.com/images/avatar/large/elliot.jpg"> <strong> <%= comment.author %>  : </strong> </span>
                            <span> <%= comment.text %> </span>
                        </div> 
                <% }) %>
            </div>
        
         </div>
            </div>
        </div>
    </div>
</div>
    
</div>
<script>
    function commentPost(currentUsername, postId) { 
        if(!currentUsername || !document.getElementById('commentArea').value) {
            document.getElementById('messageDiv').style.display = 'block'; 
            setTimeout(closeMsg, 3000);
            return;
        }
        var obj = {
            comment:document.getElementById('commentArea').value
        }
            axios.post('/blogs/'+postId+'/comments', obj).then(resp=> {
                    if(resp.data.res == 1) {
                        var div = document.createElement('DIV');
                        var span1 = document.createElement('span');
                        var span2 = document.createElement('span');
                        var img = document.createElement('img');
                        var strong = document.createElement('strong');
                        strong.innerHTML = currentUsername+" : ";
                        img.setAttribute("class", "ui avatar image");
                        img.setAttribute("src", "https://semantic-ui.com/images/avatar/large/elliot.jpg");
                        span1.appendChild(img); 
                        span1.appendChild(strong);
                        span2.innerHTML = document.getElementById('commentArea').value;
                        div.appendChild(span1);
                        div.appendChild(span2);
                        document.getElementById('commentBox').insertBefore(div, document.getElementById('commentBox').childNodes[0]);
                        document.getElementById('commentArea').value = "";
                        document.getElementById('messageDiv2').style.display = 'block'; 
                        setTimeout(closeMsg, 3000); 

                    } else if(resp.data.res == 0) {
                            document.getElementById('messageDiv').style.display = 'block'; 
                            setTimeout(closeMsg, 3000); 
                    }
            }).catch(err=> {
                    console.log(err);
            });
    }
    function likePost(mode, event, postId) { 
            axios.post('/blogs/'+postId+'/like/'+mode).then(resp=> {
                    if(resp.data.res == 1) {
                            if(mode==1) {
                                    // console.log(mode);
                                    document.getElementById('likeBtn'+postId).style.display = "none";
                                    document.getElementById('unlikeBtn'+postId).style.display = "inline";
                                    document.getElementById('likeCount'+postId).innerHTML = resp.data.count+" likes";
                            } else {
                                    // console.log(mode);
                                    document.getElementById('likeBtn'+postId).style.display = "inline";
                                    document.getElementById('unlikeBtn'+postId).style.display = "none";
                                    document.getElementById('likeCount'+postId).innerHTML = resp.data.count+" likes";
                            }
                    } else if(resp.data.res == 0) {
                            document.getElementById('messageDiv').style.display = 'block'; 
                            setTimeout(closeMsg, 3000); 
                    }
            }).catch(err=> {
                    console.log(err);
            });
    }
    function closeMsg() {
            document.getElementById('messageDiv').style.display = 'none';
            document.getElementById('messageDiv2').style.display = 'none'; 
    }
</script>


<% include partials/footer.ejs %>